
.container {
    background-color: whitesmoke;
    width: 1280px;
    height: 672px;
}

.container form {
    padding-left: 172px;
    padding-top: 24px;
    
}

.container .find-device{
    width: 936px;
    padding: 16px;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    color: #00000099;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: whitesmoke;
}

.inputImg {
    position: absolute;
    top: 86px;
    left: 1068px;
}

.favorite {
    width: 925px;
    height: 364px;
    margin-left: 178px;
    margin-top: 54px;
}

.header-favorite {
    display: flex;
    width: 222px;
    height: 24px;
}

.header-favorite img {
    width: 16.67px;
    height: 15.29px;
    padding-top: 2.5px;
    padding-left: 1.67px;
}

h1 {
    color: #00000099;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    margin-left: 20.71px;
}

.devices {
    width: 925px;
    height: 324px;
    background-color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #e2e2e2;
    margin-top: 16px;
}

.contents {
    width: 901px;
    height: 45px;
    margin-left: 12px;
    display: flex;
}
.contents p:first-child {
    width: 654px;
    height: 24px;
    color: #00000099;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    margin-left: 77px;
    margin-top: 14px;
}
.contents p:last-child {
    width: 157px;
    height: 24px;
    color: #00000099;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    margin-top: 14px;
}

.device {
    width: 901px;
    height: 55px;
    margin-left: 12px;
    display: flex;
    border-bottom: 1px solid #e2e2e2;
}
.device img {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    margin-left: 12px;
}
.device p {
    width: 652px;
    height: 40px;
    margin-top: 16px;
    margin-left: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
}
.device select {
    margin-top: 16px;
    width: 97px;
    height: 24px;
    border-radius: 2px;
    border: 1px solid #e2e2e2;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #00000099;
    padding-left: 6px;
}

.device .clock {
    width: 19.94px;
    height: 19.5px;
    margin-top: 17.5px;
    margin-left: 35.03px;
    filter: invert(42%) sepia(4%) saturate(5%) hue-rotate(359deg) brightness(89%) contrast(81%);
}